# .env.production.example
# Plantilla para la configuración del entorno de producción.
# Copia este archivo a .env.production y ajusta el valor si es necesario.

# URL base para la API del backend en producción
VUE_APP_API_URL=https://doi.upc.edu/api
