
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,500,500italic,700,700italic,900italic,900);

#app {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    color: #484444;
    margin-top: 60px;
}


.center {
    text-align: center;
}

a {
    text-decoration: none; /* Para quitar el subrayado predeterminado */
    color: #017698FF; /* Cambia el color a tu preferencia */
}

a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
}
